*.exe
*.o
*.so
*.hex
*.elf

#automatically produced Lustre files
*.ec
*.oc
*.atg
*_loop.c

*.log
*~

lab_1/_code/step5/lustre-v4-III-ca-linux64
lab_1/_code/step5/lustre-v4-III-ca-linux64.tgz

**/classes_gen/**
lab_1/_code/step8/mps/.mps/workspace.xml